<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
    
    
    var BASE_URL = "{{ base_url }}";
    
    let token = localStorage.getItem('token');
    const me =  async () => {
        const response = await fetch(`${BASE_URL}api/report`,{
            headers:{
                    'Authorization': `Bearer ${token}`   
            }            
            })
            const contenidoDelArchivo = await response.blob();
            const a = document.createElement("a");
            const url = URL.createObjectURL(contenidoDelArchivo);
            a.href = url;
            a.download = "report.xls";
            a.click();
            URL.revokeObjectURL(url);

            if(!response.ok){
                

                setTimeout(() => {
                    console.log("no tienes permiso para estar aqui")
                    window.location.href = "login";
                    }, 2000);

    
            }

            
    }

    me()
        
      

    </script>    
</body>
</html>